<div>
<div class="row">
  <div class="col-6 col-md-3 alert-success"></div>
  <div class="col-6 col-md-6 alert-warning">
    <h3 class="alert alert-primary d-flex justify-content-center">Find Hospital</h3>
    <br>
    <input type="text" class="form-control" placeholder="Enter the city" [(ngModel)]="city">
    <hr>
    <button type="button" class="btn btn-success" (click)="getHospitals()">Search</button>
    <br>
    <br>
    <table class="table alert alert-primary">
      <thead>
        <tr>
          <th>Id</th>
          <th>Hospital Name</th>
          <th>Details</th>
          <th>Reserve</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hospital of hospitals">
          <td>{{hospital.id}}</td>
          <td>{{hospital.hospitalname}}</td>
          <td>{{hospital.address}}</td>
          <td>{{hospital.faclites}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6 col-md-3 alert-success"></div>
</div>
</div>